#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url("./src/assets/background.jpg"); /* Remplace par ton image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}